/*--Media Responsive CSS--*/
@media (max-width:991px){
    .container{
        max-width: 900px;
    }
    .info {
        margin-right: 10px;
        margin-left: 10px;
    }

}
@media (max-width:958px){
    .container{
        max-width: 800px;
    }

}
@media (max-width: 800px){
    .container{
        max-width: 760px;
    }
    .info {
        margin-right: 5px;
        margin-left: 5px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 700px;
    }
    .header-top{
        display: none;
    }
    .hero{
        margin-top: -120px;
    }
    .header-menu {
        position: static;
        top: 0;
    }
}
@media (max-width: 720px) {
    .container{
        max-width: 600px;
    }
    .welcome{
        line-height: 1.5;
    }
}
@media (max-width: 640px) {


}
@media (max-width: 600px){


}
@media (max-width: 540px) {


}
@media (max-width: 320px){


}