/*--Media Responsive CSS--*/
@media (max-width:991px){
    .container{
        max-width: 900px;
    }
    .info {
        margin-right: 10px;
        margin-left: 10px;
    }
    .testimonial-text {
        float: left;
        width: 620px;
    }
    .foto-image{
        width: 49%;
    }
    .contact-area{
        margin-right: 0;
        width: 49%;
    }   
}
@media (max-width:958px){
    .container{
        max-width: 800px;
    }
    .testimonial-text {        
        width: 500px;
    }
    .foto{
        width: 100%;
    }
    .info-bottom {
        margin: 0;       
    }
    
@media (max-width: 800px){
    .container{
        max-width: 760px;
    }
    .hero{
        height: 700px;
    }
    .info {
        margin-right: 5px;
        margin-left: 5px;
    }
    .about-us{
        height: 450px;
    }
    .testimonial-text {        
        width: 470px;
    }
    .item-bottom{
        font-size: 14px;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 700px;
    }
    .header-top{
        display: none;
    }
    .hero{
        margin-top: -120px;
    }
    .feature-title{
        font-size: 32px;
    }
    .testimonial-text {        
        width: 450px;
    }
    .info-bottom{
        margin-bottom: 12px;
    }
    .item-bottom{
        font-size: 12px;
    }
}
@media (max-width: 720px) {
    .container{
        max-width: 640px;
    }
    .welcome{
        line-height: 1.5;
    }
    .testimonial-author{
        text-align: justify;
    }
    .testimonial-text {        
        width: 360px;
    }
    .item-bottom{
        font-size: 12px;
    }
}
@media (max-width: 640px) {
    .container{
        max-width: 600px;
    }
    .offers{
        height: 800px;
    }
    .testimonial-foto{
        width: 120px;
        height: 120px;
    }
    .testimonial-text {        
        width: 320px;
    }
    .contact{
        height: 700px;
    }
    .item-bottom{
        font-size: 9px;
    }
}
@media (max-width: 600px){
    .container{
        max-width: 540px;
    }
    .feature-title{
        font-size: 24px;
    }
    .hero{
        height: 450px;
    }
    .header-menu{
        height: 40px;
    }
    .navbar-brand img{
        height: 40px;
    }
    .logo-image{
        width: 35%;
    }
    .welcome{
        font-size: 50px;
        top:55%;
    }
    .about-us{
        padding: 15px;
        height: 350px;
    }
    .post-about-us p{
        font-size: 16px;
    }
    .offers{
        height: 750px;   
    }
    .blog{
        height: 800px;
    }
    .contact {
        height: 550px;
    }
    .testimonial-foto{
        width: 100px;
        height: 100px;
    }
    .testimonial-text {        
        width: 300px;
        font-size: 16px;
    }
    .foto{
        height: 400px; 
    }
    .contact-area{
        height: 400px;
    }
    .contact-info{
        display: none;
    }
}
@media (max-width: 540px) {
    .container{
        max-width: 500px;
    }
    .offers{
        height: 350px;
    }
    .testimonials{
        display: none;
    }
    .articles{
        width: 95%;
        height: 100%;
    }
}
@media (max-width: 320px){
    .container{
        max-width: 240px;
    }
    .hero{
        height: 320px;
    }
    .welcome{
        font-size: 36px;
    }

}